<html>
  <head>
    <meta charset="utf-8" />
    <title>Confirmation d'envoi de demande</title>
  </head>

  <body style="background-color: #f4f4f4; font-family: Arial, sans-serif;">
    <table
      style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px;"
    >
      <tr>
        <td align="center" style="padding: 20px;">
          <h1 style="color: #333333;">Confirmation d'envoi de demande de
            contact.</h1>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px;">
          <p style="color: #333333; font-size: 16px;">Cher(e) utilisateur,</p>
          <p style="color: #333333; font-size: 16px;">Nous vous confirmons que
            votre demande de contact a été envoyée avec succès.</p>
          <p style="color: #333333; font-size: 16px;">Nous examinerons votre
            demande dans les plus brefs délais et vous contacterons si
            nécessaire.</p>
          <p style="color: #333333; font-size: 16px;">Merci pour votre intérêt à
            rejoindre notre plateforme.</p>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px;">
          <p style="color: #333333; font-size: 16px;">Cordialement,</p>
          <p style="color: #333333; font-size: 16px;">L'équipe de notre
            plateforme.</p>
        </td>
      </tr>
    </table>
  </body>
</html>